.btn.nohover:hover {
    /* here copy default .btn class styles */
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    /* or something like that */
}

.multi-line { 
    white-space: pre-line; 
    margin-top: 3px;
}