<div class="row">
        <div class="col-md-12 col-lg-8 col-xxxl-8">
            <nb-card accent="info">
                <nb-card-header>
                    Chat notices
                </nb-card-header>
                <nb-card-body>
                    <nb-alert
                    *ngFor="let alert of getNoticeAlerts()"
                    [size]="alert.size"
                    [status]="alert.status"
                    closable
                    (close)="onAlertClose(alert)">
                    {{alert.message}}
                    </nb-alert>
                    <ng2-smart-table [settings]="noticeSettings" [source]="noticeSource" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)" (userRowSelect)="onRowSelect($event)"> 
                    </ng2-smart-table>
                </nb-card-body>
            </nb-card>
        </div>

        <div class="col-md-12 col-lg-4 col-xxxl-4">
            <nb-card accent="info">
                <nb-card-header>
                    Notice help and explanations
                </nb-card-header>
                <nb-card-body>
                    Notice is event occurance like subscribe, bits or raid in twitch chat which is visible to everyone. Here you can set up bot response to different type of notices. Also you can customize different responses depending of data count (amount of months, amount of bits) to avoid repetitive bot replies. Here comes your imagination!
                    <br><br>
                    If configuraton not found for received notice then bot will reply with default notice reaction: #user# PogChamp <3
                    <br><br>
                    <b>
                    IMPORTANT: <br> "Count from" and "Count to" is interval and they MUST NOT overlap for same notice type!<br>
                    [0;10] and [5;15] is wrong<br>
                    [0;10] and [10;15] is wrong<br>
                    [0;10] and [11;15] is correct<br>
                    [0;10] and [20;30] is correct<br>
                </b>
                    <br><br>

                    Available data tags:<br>
                    <b>#user#</b> - nickname of person who initiates the notice <br>
                    <b>#giftreceiver#</b> - nickname of person who receives gift subscribtion <br>
                    <b>#count#</b> - count of amount:<br>
                    Twitch bits - amount of bits<br>
                    Subscribe, Twitch Prime - amount of months<br>
                    Gift Subscribe (Mass), Gift Subscribe - total gifted count (if gifting person enabled setting to show total gift count)<br>
                    Raid - amount of raiders<br>
                    <b>#promo#</b> - Twitch promotion name. Only for Extending of subscribed gift type. Example: Subtember.
                    <br><br>
                    Examples:
                </nb-card-body>
            </nb-card>

        </div>

</div>
