<div>
    <b>This page is used to grant additional Twitch rights!</b><br><br>
    <div>
        
        <div class='access-li'>Rights are automatically lost when you:
        <ul>
        <li class='access-li'>change Twitch password</li>
        <li class='access-li'>unlink KryaBot from Twitch security page</li>
        <li class='access-li'>Twitch bans you</li>
        </ul>
        </div>
    </div>
</div>

<br>
<div class='auth-login'>
    <button class="twitch-login-btn" (click)="login()">Grant access now</button>
</div>