<div class="row" style="vertical-align: middle;">
    <div class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card accent="info">
            <nb-card-header style="text-transform: uppercase;">Banned telegram words
                <button nbButton class="pull-right" (click)="help(helpDialog)"><nb-icon icon="question-mark-circle-outline" pack="eva"></nb-icon>Help</button>
            </nb-card-header>
            <nb-card-body>
                    <nb-alert
                    *ngFor="let alert of alerts"
                    [size]="alert.size"
                    [status]="alert.status"
                    closable
                    (close)="onAlertClose(alert)">
                    {{alert.message}}
                  </nb-alert>
                <ng2-smart-table [settings]="wordTableConfig" [source]="wordSource" (deleteConfirm)="onDeleteConfirm($event)"> 
                </ng2-smart-table>
                <br>
                <div *ngIf="words.length > 0" class="buttons-row form-group">
                  <button nbButton class="pull-right" (click)="unbanAll()" status="danger"><nb-icon icon="trash" pack="eva"></nb-icon>Unban all</button>
                </div>
                
            </nb-card-body>
        </nb-card>

    </div>
</div>

<ng-template #helpDialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Telegram banned words</nb-card-header>
      <nb-card-body>
        <div>
          Your telegram group admins can ban words. These words are checked on each sent message in group and if message contains restricted word, then sender received a warning<br><br>
          <b>Usage:</b>
          /banword word<br>
          For example: /banmedia damn<br>
          Now all users will receive warning on if their message contains "damn" word.
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton hero status="warning" (click)="ref.close()">Cancel</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>