
<div class="row">
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="list-card">
      <nb-card-header>Information</nb-card-header>
      <nb-card-body>
        Website in development process.<br>
        Currently dashboard has no information, will think what i could show useful here :)
        
      </nb-card-body>
    </nb-card>
  </div>
 <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="list-card">
      <nb-card-header>Twitch access rights</nb-card-header>
      <nb-card-body>
        <div>
          In order for KryaBot to work in Telegram, you must grant me Twitch rights for specific topics.
        </div>
        
        <div class="col-md-6 offset-md-3" style="margin-top: 1rem; margin-bottom: 1rem;">
          <button nbButton hero status="warning" (click)="access()">Grant access now</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

</div>